src/main/default/flows/AccountAfterCreateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>GetResultATTRec</name>
        <label>GetResultATTRec</label>
        <locationX>324</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>AttributeID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_DP_Attribute.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_DP_Attribute_Assignment_Record_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Record_Type</name>
        <label>Account Record Type</label>
        <locationX>456</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DP_Account</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outlet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_DP_Attribute</targetReference>
            </connector>
            <label>DP Account with Prospect or Active Prospect Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AccountAfterCreateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountAfterCreateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create New DP attribute</description>
        <name>New_DP_Attribute_Assignment_Record_0</name>
        <label>New DP Attribute Assignment Record</label>
        <locationX>324</locationX>
        <locationY>743</locationY>
        <inputAssignments>
            <field>aforza__Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aforza__Attribute__c</field>
            <value>
                <elementReference>AttributeID</elementReference>
            </value>
        </inputAssignments>
        <object>aforza__Attribute_Assignment__c</object>
    </recordCreates>
    <recordLookups>
        <name>New_DP_Attribute</name>
        <label>New DP Attribute</label>
        <locationX>324</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetResultATTRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aforza__Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New DP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>aforza__Attribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Account_Record_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AttributeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewDP_ATT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New DP</stringValue>
        </value>
    </variables>
</Flow>
