src/main/default/flows/AccountBeforeSaveFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IsDepotCharacterAvailable</name>
        <label>Depot Character Available</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DepotCharacter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDepot</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DepotCharacter</name>
        <dataType>String</dataType>
        <expression>RIGHT(LEFT({!$Record.PrimaryGridNumber__c},2),1)</expression>
    </formulas>
    <formulas>
        <name>Frequency</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.PrimaryGridNumber__c},1)</expression>
    </formulas>
    <formulas>
        <name>PrimaryCallDay</name>
        <dataType>String</dataType>
        <expression>CASE( LEFT(RIGHT( {!$Record.PrimaryGridNumber__c},3),2),
&quot;MO&quot;, &quot;1&quot;,
&quot;TU&quot;, &quot;2&quot;,
&quot;WE&quot;, &quot;3&quot;,
&quot;TH&quot;, &quot;4&quot;,
&quot;FR&quot;, &quot;5&quot;,
&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>PrimaryDeliveryDay</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.PrimaryGridNumber__c},1)</expression>
    </formulas>
    <formulas>
        <name>SecondaryCallDay</name>
        <dataType>String</dataType>
        <expression>CASE( LEFT(RIGHT({!$Record.SecondaryGridNumber__c} ,3),2),
&quot;MO&quot;, &quot;1&quot;,
&quot;TU&quot;, &quot;2&quot;,
&quot;WE&quot;, &quot;3&quot;,
&quot;TH&quot;, &quot;4&quot;,
&quot;FR&quot;, &quot;5&quot;,
&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>SecondaryDeliveryDay</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.SecondaryGridNumber__c},1)</expression>
    </formulas>
    <interviewLabel>AccountBeforeSaveFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountBeforeSaveFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateDepot</name>
        <label>Update Depot</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Depot__c</field>
            <value>
                <elementReference>DepotCharacter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryCallDay__c</field>
            <value>
                <elementReference>PrimaryCallDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryDeliveryDay__c</field>
            <value>
                <elementReference>PrimaryDeliveryDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecondaryCallDay__c</field>
            <value>
                <elementReference>SecondaryCallDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecondaryDeliveryDay__c</field>
            <value>
                <elementReference>SecondaryDeliveryDay</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsDepotCharacterAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryGridNumber__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PrimaryGridNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.PrimaryGridNumber__c</elementReference>
        </value>
    </variables>
</Flow>
