src/main/default/flows/AccountBeforeUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SetStatus</name>
        <label>Set Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CreditStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Good</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_record_Type_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_record_Type_Changed</name>
        <label>Is record Type Changed</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Type_Name</targetReference>
            </connector>
            <label>Record Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Credit amount is positive, and was negative prior and that the customer status is &quot;on Hold&quot; and customer is active account status &lt;&gt; Closed or Prospect</description>
        <name>ShouldUpdateStatus</name>
        <label>Should Update Status?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_record_Type_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdateStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.aforza__Credit_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.aforza__Credit_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatus</targetReference>
            </connector>
            <label>Yes update status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>getRecordTypeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.DeveloperName}</expression>
    </formulas>
    <interviewLabel>AccountBeforeSaveFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountBeforeUpdateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record_Type_Name</name>
        <label>Update Record Type Name</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>RecordTypeName__c</field>
            <value>
                <elementReference>getRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ShouldUpdateStatus</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
