src/main/default/flows/AccountBeforeCreateAndUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Account_Record_Type</name>
        <label>Account Record Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>UpdateBillingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DP_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outlet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Status_on_hold</targetReference>
            </connector>
            <label>DP Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_or_Updated_Decision</name>
        <label>Created or Updated Decision</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>UpdateBillingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Created_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Record_Type</targetReference>
            </connector>
            <label>On Created Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DepotCharacter</name>
        <dataType>String</dataType>
        <expression>RIGHT(LEFT({!$Record.PrimaryGridNumber__c},2),1)</expression>
    </formulas>
    <formulas>
        <name>Frequency</name>
        <dataType>String</dataType>
        <expression>CASE( RIGHT({!$Record.PrimaryGridNumber__c},1),
&quot;W&quot;, &quot;W&quot;,
&quot;1&quot;, &quot;F&quot;,
&quot;2&quot;, &quot;F&quot;,
&quot;M&quot;)</expression>
    </formulas>
    <formulas>
        <name>GetRecordTypeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>PrimaryCallDay</name>
        <dataType>String</dataType>
        <expression>CASE( LEFT(RIGHT( {!$Record.PrimaryGridNumber__c},3),2),
&quot;MO&quot;, &quot;1&quot;,
&quot;TU&quot;, &quot;2&quot;,
&quot;WE&quot;, &quot;3&quot;,
&quot;TH&quot;, &quot;4&quot;,
&quot;FR&quot;, &quot;5&quot;,
&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>PrimaryDeliveryDay</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.PrimaryGridNumber__c},1)</expression>
    </formulas>
    <formulas>
        <name>SecondaryCallDay</name>
        <dataType>String</dataType>
        <expression>CASE( LEFT(RIGHT({!$Record.SecondaryGridNumber__c} ,3),2),
&quot;MO&quot;, &quot;1&quot;,
&quot;TU&quot;, &quot;2&quot;,
&quot;WE&quot;, &quot;3&quot;,
&quot;TH&quot;, &quot;4&quot;,
&quot;FR&quot;, &quot;5&quot;,
&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>SecondaryDeliveryDay</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.SecondaryGridNumber__c},1)</expression>
    </formulas>
    <interviewLabel>AccountBeforeCreateAndUpdateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountBeforeCreateAndUpdateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>New DP Account, Credit Status on hold</description>
        <name>Credit_Status_on_hold</name>
        <label>Credit Status on hold</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>UpdateBillingAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>CreditStatus__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Type_Name</name>
        <label>Update Record Type Name</label>
        <locationX>336</locationX>
        <locationY>1223</locationY>
        <inputAssignments>
            <field>RecordTypeName__c</field>
            <value>
                <elementReference>GetRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBillingAddress</name>
        <label>UpdateBillingAddress</label>
        <locationX>336</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>UpdatePrimaryGridFields</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>BillingSameAsShipping__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCity</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingCountryCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingStateCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingStateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>$Record.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>$Record.ShippingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrimaryGridFields</name>
        <label>Update Primary Grid Fields</label>
        <locationX>336</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>UpdateSecondaryGridFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryGridNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PrimaryGridNumber__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PrimaryGridNumber__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Depot__c</field>
            <value>
                <elementReference>DepotCharacter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryCallDay__c</field>
            <value>
                <elementReference>PrimaryCallDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryDeliveryDay__c</field>
            <value>
                <elementReference>PrimaryDeliveryDay</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSecondaryGridFields</name>
        <label>Update Secondary Grid Fields</label>
        <locationX>336</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Update_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SecondaryGridNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SecondaryGridNumber__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.SecondaryGridNumber__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SecondaryCallDay__c</field>
            <value>
                <elementReference>SecondaryCallDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecondaryDeliveryDay__c</field>
            <value>
                <elementReference>SecondaryDeliveryDay</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Updated_Decision</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PrimaryGridNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.PrimaryGridNumber__c</elementReference>
        </value>
    </variables>
</Flow>
