src/main/default/flows/OrderAfterSaveMail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Win_Back_Alert</name>
        <label>Send Win Back Alert</label>
        <locationX>429</locationX>
        <locationY>623</locationY>
        <actionName>Order.WinBackEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated</label>
        <locationX>321</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Completed_Metadata</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_send_Win_Back_Email</name>
        <label>To send Win Back Email</label>
        <locationX>561</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOrderInComleteOrderStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AccountStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ReturnOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Win_Back_Alert</targetReference>
            </connector>
            <label>To Send</label>
        </rules>
    </decisions>
    <description>A workflow to send emails on Order object. 
Update Order Name to payment method</description>
    <environments>Default</environments>
    <formulas>
        <name>IsOrderInComleteOrderStatus</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Get_Order_Completed_Metadata.CompletedOrderStatuses__c}, TEXT({!$Record.Status}))</expression>
    </formulas>
    <interviewLabel>OrderAfterSaveMail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrderAfterUpdateMail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Completed_Metadata</name>
        <label>Get Order Completed Metadata</label>
        <locationX>561</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_send_Win_Back_Email</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSetting__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QualifiedApiName</queriedFields>
        <queriedFields>CompletedOrderStatuses__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Name</name>
        <label>Update Order Name</label>
        <locationX>269</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentMethod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PaymentMethod__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>435</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Order_Name</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.PaymentMethod__c</elementReference>
        </value>
    </variables>
</Flow>
